.testing-form {
  display: flex;
  flex-direction: column;

  height: 100%;

  &__navigation {

  }

  &__question-block {

  }
}

.navigation {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 10%;

  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;

    background: grey;
    border: 1px solid black;
    cursor: pointer;

    &.active {
      background: greenyellow;
    }
  }
}

.question-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 90%;

  padding: 10px 5px;

  &__question {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15%;

    border: 2px solid black;
    padding: 20px 0;

    font-size: 20px;
    font-weight: 600;
  }

  &__tip {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;

    border: 2px solid black;
    padding: 20px 0;

    &.hidden {
      display: none;
    }
  }

  &__options {
  }
}

.tip {
  &__icon {
    display: flex;

    width: 5%;
    height: 50%;

    background: url('../../../assets/icon-question-tip.svg') no-repeat center;
    background-size: contain;
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;

  height: 50%;

  &___option {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: calc(50% - 2px);

    border: 1px solid black;
    cursor: pointer;

    &.active {
      background: greenyellow;
    }
  }
}