.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 20%;

  &__email-input {
  }

  &__password-input {
  }

  &__submit-button {
  }
}

.email-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;

  font-size: 18px;

  &__text {
    display: flex;
    justify-content: center;

    width: 40%;
  }

  &__input {
    width: 60%;
  }
}

.password-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;

  font-size: 18px;

  &__text {
    display: flex;
    justify-content: center;

    width: 40%;
  }

  &__input {
    width: 60%;
  }
}

.submit-button {
  display: flex;
  justify-content: flex-end;

  &__button {
    width: 80px;
  }
}