.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  &__start-block {
  }

  &__header {
  }

  &__footer {
  }

  &__testing-form {
  }

  &__test-result {
  }
}

.start-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 20%;

  font-size: 36px;

  &__text {
    font-weight: 900;
  }

  &__button {
    width: 170px;
    height: 30px;

    font-weight: 600;
  }
}

.test-result {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  &__title {
    display: flex;
    justify-content: center;

    font-size: 48px;
    font-weight: 900;
  }

  &__text {
    display: flex;
    justify-content: center;

    font-size: 30px;
    font-weight: 900;
  }
}