.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5%;
  min-height: 5%;

  margin-bottom: 4px;

  border-top: 1px solid grey;

  &__user-info {

  }

  &__question-counter {

  }
}