.status-bar {
  display: flex;
  justify-content: center;

  width: 100%;

  &__text {
    font-size: 18px;
    font-weight: 900;

    background: aliceblue;

    opacity: 0.5;

    &.green {
      color: #92a022;
    }

    &.red {
      color: red;
    }
  }
}