.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  &__language-dropdown {
    display: flex;
    position: absolute;
    justify-content: center;

    top: 10px;
    right: 30px;

    color: #0004ff;
    font-size: 20px;

    & .lang-dropdown {
      width: 50px;
      text-align: center;
    }

    & .lang-dropdown-control {
      background: aqua;
    }

    & .lang-dropdown-menu {
      background: aqua;
      margin-top: 5px;
    }
  }

  &__auth-forms {
  }

  &__anonymous-mode {
  }
}

.auth-forms {
  display: flex;
  width: 100%;
  justify-content: center;
}

.anonymous-mode {
  display: flex;

  width: 20%;

  &__button {
    display: flex;
    justify-content: center;

    width: 100%;
  }
}