.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5%;
  min-height: 5%;

  border-bottom: 1px solid grey;

  &__stub {
    width: 3%;
    height: 0;
  }

  &__complete-button {

  }

  &__username {
    display: flex;
    width: 5%;
  }

  &__settings {
    width: 3%;
    height: 100%;

    background: url('../../../assets/icon-settings.svg') no-repeat center;
    background-size: contain;
  }
}

.complete-button {
  display: none;

  &.active {
    display: flex;
    align-items: center;

    height: 100%;
  }

  &__button {
    display: flex;

    height: 50%;
    min-height: 25px;

    animation: rainbow 2s linear infinite;
  }
}

@keyframes rainbow {
  0% { background: red }
  20% { background: orange }
  40% { background: yellow }
  80% { background: green }
  100% { background: blue }
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__settings-header {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid grey;

    padding-bottom: 5px;
  }

  &__settings-body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    height: 80%;

    padding: 10px 0;
  }

  &__settings-footer {
    display: flex;
    justify-content: center;

    height: 12%;

    padding-top: 5px;

    border-top: 1px solid grey;
  }
}

.settings-body {
  display: flex;
  flex-direction: column;

  &__hint-mode{
  }

  &__lang-dropdown {
  }

  &__terminate-session {
  }
}

.hint-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  &__text {
    display: flex;
    align-items: center;
  }

  &__toggle {
  }
}

.lang-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  padding-top: 10px;

  &__text {
    display: flex;
    align-items: center;
  }

  &__dropdown {
    display: flex;
    position: relative;

    width: 20%;

    text-align: center;

    & .lang-dropdown {
      display: flex;
      flex-direction: column;

      width: 100%;

      padding: 0;
    }

    & .lang-dropdown-control {
      display: flex;
      background: aqua;

      width: 100%;
    }

    & .lang-dropdown-placeholder {
      width: 100%;
    }

    & .lang-dropdown-menu {
      display: flex;
      flex-direction: column;
      position: absolute;

      width: 100%;

      background: aqua;

      margin-top: 20px;
    }
  }
}

.terminate-session {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  padding-top: 10px;

  &__text {
  }

  &__button {
  }
}